In [105]:
import numpy as np
import pandas as pd
import tqdm
import qrcode

In [ ]:
def qrcode(linkform):
    '''
    Lê um link do formulário de presenças e retorna o qrcode
    parameters:
    linkform: link do formulário de presenças
    '''
    img = qrcode.make()
    return img.save("some_file.png")

qrcode(linkform)

In [106]:
aula_1 = "https://docs.google.com/spreadsheets/d/1sODjBoiN12sN7ogW0HHJ3R__g3-EaGhm3no_HAgtlUA/edit#gid=1256031012"
aula_2 = "https://docs.google.com/spreadsheets/d/1bfc7SRV-bwLRJN1D5am335iAHGhKObeyxK2dj4Mch68/edit#gid=1243468761"
aula_3 = "https://docs.google.com/spreadsheets/d/1NJn4T9k3bBVr04ZR5VZ-IbCQcAqtxsS6kJF6dEJLlm8/edit#gid=1589425599"

listaaulas = []


aulas = [aula_1,aula_2,aula_3 ]

for i in tqdm.tqdm(aulas):
    url_1 = i.replace("/edit#gid=", "/export?format=csv&gid=")
    listaaulas.append(pd.read_csv(url_1))

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:03<00:00,  1.03s/it]

In [107]:
listadfpresenca = []
for i in listaaulas:
    dfpresenca = pd.DataFrame(i)
    listadfpresenca.append(dfpresenca)

,Carimbo de data/hora,Pontuação,Qual seu número USP,O que você gostou hoje?,O que poderíamos ter feito melhor?,Comentários Gerais
0,01/02/2023 22:19:40,NaN,12115143,aula,aula,aula

In [108]:
df = pd.DataFrame({
    'NOME': ['Caetano', 'Amelia','Andre', 'Chagas', 'Dindara','Wellington'],
    'NUMERO USP': [100100, 101010, 111001, 101001,111100,12115143],
    'CURSO': ['Fisica', 'Fisica','Fisica', 'Fisica', 'Fisica','Fisica']  # o nome das colunas podem ter espaços
})


#presenca.to_csv("presenca.csv")
#presenca
df.to_csv("matricula.csv")

In [111]:
presenca = pd.read_csv("matricula.csv")
numero_presenca = []
for i in presenca["NUMERO USP"]:
    aux = 0
    #print(i)
    for j in range(0,len(listaaulas)):
        #print(i)
        if ((listaaulas[j]["Qual seu número USP"].eq(i)).any()):
            aux += 1
    numero_presenca.append(aux)

#numero_presenca
presenca.insert(4,"Número de Presenças", numero_presenca)
presenca.to_csv("presenca.csv")
presenca

   Unnamed: 0        NOME  NUMERO USP   CURSO  Número de Presenças
0           0     Caetano      100100  Fisica                    0
1           1      Amelia      101010  Fisica                    0
2           2       Andre      111001  Fisica                    0
3           3      Chagas      101001  Fisica                    0
4           4     Dindara      111100  Fisica                    0
5           5  Wellington    12115143  Fisica                    2